* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Suez One", serif;
  background-image: url(images/back.jpg);
  background-size: cover;
  background-blend-mode: screen;
  color: #fff;
  margin: 0;
  padding: 0;
}
.hometitle {
  font-size: 150px;
  padding-top: 120px;
  font-family: 'Harry Potter', sans-serif;
  color: gray;
  text-shadow: 10px 8px 8px black;
}
.homeimage {
  height: 500px;
  width: 600px;
}
/* עיצוב כותרת ראשית */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
}
.navigation ul {
  list-style-type: none;
  display: flex; /* הפוך את הרשימה לתצוגה בקו */
  justify-content: center; /* מיישר את הפריטים למרכז */
}
.navigation li {
  margin: 20px; /* רווחים בין הפריטים */
}
.navigation a {
  color: white;
  text-decoration: none;
  padding: 15px;
  box-shadow: 8px 8px 9px 6px black;
  font-size: 25px;
  background-color: darkred;
}
.navigation a:hover {
  cursor: pointer; /* שינוי סגנון העכבר לסמן */
  background-image: radial-gradient(circle, black, firebrick);
}
/* עיצוב תוכן ראשי */
.container {
  border: 5px solid black;
  width: 500px;
  margin: auto;
  display: block;
  box-shadow: 3px 3px 5px black;
  border-radius: 20px;
  margin-bottom: 40px;
  text-align: center;
  padding: 10px;
  height: 100%;
}
.container-fluid {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: block;
  border-radius: 20px;
  margin-bottom: 40px;
  text-align: center;
  padding: 10px;
}
.image {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
}
table {
  padding: 20px;
  width: 75%;
  display: block;
  margin: auto;
}
caption {
  font-size: 40px;
  color: gray
}
th,td {
  border: 2px solid red; /* גבולות תאי הטבלה */
  padding: 4px;
  text-align: center;
  background-color: rgb(35, 5, 72);
}
th {
  background-color: darkred;
  color: white;
  font-weight: bold;
  font-size: larger;
}
td:nth-child(1) {
  font-weight: bold;
  font-size: larger;
  background-color: darkred;
}
iframe {
  width: 320px; /* רוחב הוידאו בטבלה */
  height: 250px; /* גובה הוידאו בטבלה */
}
.creaturetitle {
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 110px;
  color: gray;
  text-shadow: 10px 8px 8px black;
}
.spelltitle {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 130px;
  font-family: 'Harry Potter', sans-serif;
  color: gray;
  text-shadow: 10px 8px 8px black;
}
.spell video {
  width: 350px;
  height: 250px;
}
.spoilertitle {
  margin-top: 120px;
  color: red;
  text-shadow: 4px 8px 3px black;
  font-size: 150px;
}
.spoiler-container {
  padding: 20px;
  text-align: center;
  margin-bottom: 20%;
}
.spoiler-content {
  display: none;
}
.spoiler-button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  font-size: 50px;
  text-decoration: none; /* Remove default anchor underline */
}
.spoiler-button:hover {
  background-color: #ff6666;
}
.headerspells {
  width: 500px;
  height: 500px;
}
header {
  text-align: center;
}
.charactersimage {
  width: 600px;
  height: 400px;
  margin-top: 100px;
}
.charactersetitle {
  margin-top: 140px;
}
.player {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
.player img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.player p {
  font-size: 16px;
  line-height: 1.5;
}
.player {
  grid-template-columns: 20% 60% 20%;
}
.good {
  float: left;
  margin: 40px;
}
.bad {
  float: right;
}
footer img, svg {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.image-container {
  display: flex;
  gap: 160px;
  margin-bottom: 140px;
  padding-right: 20px;
}
.image-container img {
  height: 340px;
}
footer {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gray;
    border: 5px solid black;
    text-align: center;
    box-shadow: 5px 7px 9px black;
    left: 0;
  }
}
.spoilerfooter, .spoilerfooter2 {
  text-align: center;
  bottom: 0;
  position: absolute;
  margin-right: 25%;
}
/* CHANGES  */
.hello p {
  font-size: 25px;
  padding: 2px;
  margin-top: 8px
}
.want_to_read {
  margin-top: 3rem;
}
.main-cards {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}
.card:hover {
  background: linear-gradient(to right, black, gray);
}
.card a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  max-width: 100%;
}
.card a:hover {
  color: whitesmoke;
  transition: 0.3s;
}
/* MAIN MOVIES */
.main_movies {
  width: 100%; 
  display: flex;
  margin-top: 80px;
}
.grid {
  width: 33.3%;
  height: 100%;
  margin: 2px;
}
.grid img {
  width: 50%;
  min-height: 300px;
  border-radius: 5px;
}
.details p {
  padding: 15px;
  font-size: 16px;
}
.image-center {
  height: 150px;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
}
.container img {
  height: 250px;
  width: 250px;
}
#jkr, #ministry {
  width: 350px;
}
.backToTop {
  width: 100%;
  margin-top: 2rem;
}
.buttonTop {
  position: relative;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  background-color: white;
  border: none;
}
.buttonTop:hover {
  color: white;
  background: linear-gradient(to right, black, gray);
  transition: 0.5s;
}
.buttonTop a {
  color: black;
  text-decoration: none;
}
.buttonTop a:hover {
  color: white;
}
.buttonTop span i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 25%;
  padding: 10px;
}
.container ol, li {
  padding-right: 20px;
  margin-bottom: 10px;
}
.bodycharacters {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 50%; /* גובה מקסימלי */
}
.maincharacters {
  display: flex;
  flex: 1; /* מציין שה-main יתמלא את כל השטח הזמין ב-flexbox */
}
.section {
flex: 1; 
display: block;
padding: auto;
margin: auto;
}
.section img {
  height: 150px;
  width: 150px;
}